# Types of objects in Python

Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types:
strings, integers and floats  
1. Anytime you write words (text) in Python, you're using character strings (strings for short).
2. The most common numbers, are integers (e.g. -1, 0, 100)
3. floats, which represent real numbers (e.g. 3.14, -42.0).

The following code cells contain some examples:

In [1]:
#integer
42

42

In [3]:
#float
42.42

42.42

In [4]:
#string
"i am excitd to learn python"

'i am excitd to learn python'

You can get Python to tell you the type of an expression by using the built-in **type()** function. You'll notice that Python refers to integers
as int , floats as float , and character strings as str .

In [5]:
#type of 16
type(16)

int

In [6]:
type(-1)

int

In [6]:
type(16.6)

float

In [5]:
type(-1.34)

float

In [7]:
type("i am excited to learn python")

str

## Integers
Integers can be negative or positive numbers:  
eg. -4,-14,0,2,8

## Floats
Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations
when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn
more about the specifics of floats for your runtime environment, by checking the value of sys.float_info . This will also tell you what's
the largest and smallest number that can be represented with them.
Once again, can test some examples with the type() function:

In [8]:
#Print type of 1.0
type(1.0)

float

In [10]:
#system setting about the float
import sys #package in python
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### Converting from one object type to a different object type
You can change the type of the object in Python; this is called typecasting. For example, you can convert an integer into a float (e.g. 2 to
2.0).
Let's try it:

In [ ]:
type(42)

### Converting integers to floats
Let's cast integer 42 to float:

In [12]:
#convert into float
float(42)

42.0

In [13]:
type(float(42))

float

When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into
an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal
information (i.e., 0.1):

In [7]:
#Casting 1.1 to integer will result in loss of information
int(1.1)

1

### Converting from strings to integers or floats
Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into
an integer using int() :

In [2]:
int("1")

1

In [18]:
float("1.2")

1.2

**[Tip:]** Note that strings can be represented with single quotes ('1.2') or double quotes ("1.2"), but you can't mix both (e.g., "1.2')

But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:

In [8]:
#Convert a string into aninteger with error
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

### Converting numbers to strings
If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?

In [19]:
str(1)

'1'

And there is no reason why we shouldn't be able to make floats into strings as well:

In [20]:
str(1.2)

'1.2'

## Boolean data type
Boolean is another important type in Python. An object of type Boolean can take on one of two values: True or False

In [21]:
#Value True
True

True

Notice that the value True has an uppercase "T" . The same is true for False (i.e. you must use the uppercase "F" ).

In [22]:
#Value False
False

False

When you ask Python to display the type of a boolean object it will show bool which stands for boolean:

In [26]:
type(True)

bool

In [27]:
type(False)

bool

We can cast boolean objects to other data types. If we cast a boolean with a value of True to an integer or float we will get a one . If we
cast a boolean with a value of False to an integer or float we will get a zero . Similarly, if we cast a 1 to a Boolean, you get a True . And
if we cast a 0 to a Boolean we will get a False . Let's give it a try:

In [28]:
#Convert True to int
int(True)

1

In [29]:
#Convert False to int
int(False)

0

In [30]:
bool(1)

True

In [9]:
 #Convert 0 to boolean
bool(0)

False

In [10]:
#Convert Trueto float
float(True)

1.0

The End