# Expressions and Variables

## Expressions
Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations  
like adding multiple numbers:

In [1]:
 #Addition operation expression
42 + 50 + 18 + 31

141

We can perform subtraction operations using the minus operator. In this case the result is a negative number:

In [2]:
#Substraction operation expression
40-50

-10

We can do multiplication using an asterisk:

In [3]:
#Multiplication operation expression
5 * 5

25

We can find a power of a number using double asterix **

In [4]:
2**3 #gives 2 raise to 3

8

In [5]:
25**2 #square of 25

625

We can also perform division with the forward slash:

In [6]:
 #Division operation expression
25 / 5

5.0

In [7]:
#Division operation expression
25 / 6

4.166666666666667

As seen in the Exercise above, we can use the double slash for integer division, where the result is rounded down to the nearest integer i.e. the double slash gives the quotient

In [8]:
25//5

5

In [9]:
26//5

5

We can use % operator for getting the remainder after division

In [10]:
23%2 #gives the remainder when we divide 23 by 2

1

In [11]:
37%8 #gives the remainder when we divide 37 by 8

5

One can use all these operators to write an expression

In [12]:
(30 + 2) * 60/5-2**4 #it follows the BODMAS rule

368.0

You can check the datatype of the output you get after performing an operation:

In [13]:
type(6/2)

float

In [14]:
type(6//2)

int

## Variables  
Just like with most programming languages, we can store values in variables, so we can use them later on. For example:

In [15]:
#store value into variable
x=31+34/17-54*8

In [16]:
#print the value in the variable
x

-399.0

we can also perform operation x and save the results into new variable

In [17]:
y=x/60
y

-6.65

If we save a value to an existing variable, the new value will overwrite the previous value:

In [18]:
x=x/60
x

-6.65

In [19]:
x=4
y=x*4
x=y
x

16

It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:

In [20]:
total_min=12+34+54
total_min
#here you'll understand that the output is indicating total minutes

100

In [21]:
total_hours = total_min / 60 #Total length of albums in hours
total_hours

1.6666666666666667

In the cells above we added the length of three albums in minutes and stored it in total_min. We then divided it by 60 to calculate total
length total_hours in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length
before you divide, as shown below.

In [22]:
#Complicate expression
total_hours = (43 + 42 + 57) / 60 #Total hours in a single expression
total_hours

2.3666666666666667

If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., //).

In [23]:
#Complicate expression
total_hours = (43 + 42 + 57) // 60 #Total hours in a single expression
total_hours

2

The End