# Strings

### What are Strings?

The following example shows a string contained within 2 quotation marks:

In [1]:
#Use quotation mark for defining a string
"Prasada Posture"

'Prasada Posture'

A string can be a combination of spaces and digits:

In [2]:
"1 2 3 4 5"

'1 2 3 4 5'

A string can also be a combination of special characters :

In [3]:
"@e%thh*"

'@e%thh*'

We can print our string using the print statement:

In [4]:
print("hello!")

hello!

We can bind or assign a string to another variable:

In [5]:
name= "Michael Jackson"
name

'Michael Jackson'

### Indexing
It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers.
**[Tip]: Because indexing starts at 0, it means the first index is on the index 0 and ll the indexing rule remains same for all types of objects i.e. list, tuple, strings etc****

In [6]:
print(name[0])

M

In [7]:
print(name[12])

s

### Negative Indexing
The last element is given by the index -1 and the numbering percets till the first element

In [8]:
#Print the last element in the string
print(name[-1])

n

In [9]:
#Print the first element in the string
print(name[-15])

M

We can find the number of characters in a string by using len function(short of length):

In [10]:
len("Michael Jackson") #gives number of characters including spaces

15

### Slicing
We can extract multiple characters from a string using slicing.
**Formula:** string[m:n+1:p]  
m = index number of first character you need  
n = index number of last character you need  
p = takes every pth element into consideration (taken 1 by default if not given)   
**[Tip]:This slicing rule remains same for all types of objects i.e. list, tuple, strings etc**

In [11]:
name[0:4]

'Mich'

In [12]:
name[8:12]

'Jack'

In [13]:
name[::2] #if m and n are not given it looks for entire string

'McalJcsn'

In [14]:
name[0:5:2] #gives every second element till index 4

'Mca'

### Concatenate Strings
We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both

In [15]:
statement=name+" is the best"
statement

'Michael Jackson is the best'

To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string:

In [16]:
#Prints the string 5 times
5*"Michael Jackson " #added space at the end for seperations ;-)

'Michael Jackson Michael Jackson Michael Jackson Michael Jackson Michael Jackson '

You can create a new string by setting it to the original variable. Concatenated with a new string, the result is a new string that changes
from Michael Jackson to “Michael Jackson is the best".

In [17]:
name = "Michael Jackson"
name = name + "is the best"
name

'Michael Jacksonis the best'

### Escape Sequences
Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input. For
example, back slash "n" ( \n ) represents a new line. The output is given by a new line after the back slash "n" is encountered

In [18]:
#New line escape sequence: Starts the string after \n from the newline
print("michael jackson \n is the best")

michael jackson
 is the best

Similarly, back slash "t"( \t ) represents a tab:

In [19]:
print("michael jackson \t is the best")

michael jackson 	 is the best

### String Operations
There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string
operations on the data.
Let's try with the method upper ; this method converts lower case characters to upper case characters.

In [20]:
a = "Walk Like Python; Run Like C." # the main string
b = a.upper() #the using the upper method and storing it in variable b
print(b) #printiing b

WALK LIKE PYTHON; RUN LIKE C.

The method replace replaces a segment of the string, i.e. a substring with a new string. We input the part of the string we would like to
change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment
changed:

In [21]:
a="sameer shinde is the best"
b=a.replace("sameer", "shisir")
b

'shisir shinde is the best'

The method find finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence.

In [22]:
name="michael jackson"
name.find("jack") #finding index of "jack"

8

In [23]:
name.find("el")#finding "el"

5

If the sub-string is not in the string then the output is a negative one (-1).

In [24]:
name.find("Prasad")

-1

The End