# Lists

### Definition of Lists
A list in Python is a sequenced collection of different objects such as integers, strings, and even other lists as well.
To create a list, type the list within square brackets [ ] , with your content inside the parenthesis and separated by commas.

In [1]:
#Creating a list
L=["apple","banana","cherry"]
L

['apple', 'banana', 'cherry']

### Indexing
The address of each element within a list is called an index. An index is used to access and refer to items within a list.

In [2]:
L=["apple","banana","cherry"]
# Positive Indexing
print(L[0])
print(L[1])
print(L[2])
# Negative Indexing
print(L[-1])
print(L[-2])
print(L[-3])

apple
banana
cherry
cherry
banana
apple

### List Content
Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same
indexing conventions apply for nesting:

In [3]:
#Example
["Prasad Posture", 10.1, 1982, [1,2], ("a",1)]  #("a",1) is a tuple

['Prasad Posture', 10.1, 1982, [1, 2], ('a', 1)]

### List Operations

**Slicing:** We can also perform slicing in lists and extract part it.

In [4]:
#Example
L=["kiwi",35.45,6,"green kiwi",25]
L

['kiwi', 35.45, 6, 'green kiwi', 25]

In [5]:
#List Slicing
L[1:4] #L[m,n+1] gives elements of L from index m to n

[35.45, 6, 'green kiwi']

**Extend:** This method is used for adding **multiple** elements in the list.

In [6]:
L.extend(["fruit",10]) #adding two elements to the L
L

['kiwi', 35.45, 6, 'green kiwi', 25, 'fruit', 10]

**Append:** This is method is used for adding a **single** element at a time.

In [7]:
L=["kivi",35.45,6,"green kivi",25]
L.append(["fruit",10])
L #you can see in the output that a list has been added rather than two elements

['kivi', 35.45, 6, 'green kivi', 25, ['fruit', 10]]

**As lists are mutable, we can change them.**

Changing the element based on the index:

In [8]:
#Example
L=["kivi",35.45,6,"green kivi",25] #before
L[0]="Banana"
L #after: "kivi" has been changed to "Banana"

['Banana', 35.45, 6, 'green kivi', 25]

There are several methods to remove items from a list:

**Delete:** We can also delete an element of a list using the del command.

In [9]:
#Example
A=["Hi", 10, 1.2]
print('before:',A)
del(A[0]) #deleting the element
print('after change:', A)

before: ['Hi', 10, 1.2]
after change: [10, 1.2]

**Remove:** This method removes the specified item.

In [10]:
#Example
L = ["apple", "banana", "cherry"]
L.remove("banana")
L

['apple', 'cherry']

**Split:** We can convert a string to a list using split . For example, the method split translates every group of characters separated by a
space into an element in a list.

In [11]:
#Example
'prasad posture'.split()

['prasad', 'posture']

**Copy:** When we set one variable B equal to A, both A and B are referencing the same list in memory.

In [12]:
A=["Virat Kohli",18,11]
B=A
print("A:",B)
print("B:",A)

A: ['Virat Kohli', 18, 11]
B: ['Virat Kohli', 18, 11]

The End