# Sets
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.

In [1]:
#Defining an empty set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

You can denote a set with a pair of curly brackets { }. Python will automatically remove duplicate items:

In [2]:
#Set with numeric values
set_var={1,2,3,3,4,5,6}
set_var

{1, 2, 3, 4, 5, 6}

In [3]:
#Set with non-numeric values
set_var={"Avengers","Ironman","Hitman"}
set_var

{'Avengers', 'Hitman', 'Ironman'}

In [4]:
#set of music genres
set1={"pop","rock","soul","hard rock","rock","R&B","rock","disco"}
set1 #duplicate values are removed

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

You can also create **a set from a list** as follows:

In [5]:
#Converting a list into set
album_list=["michael jackson","thriller",1982,"oo:42:19", "pop, rock, R&B", 46.0, 65, "30-Nov-82",None, 10.0]
album_set=set(album_list)
album_set

{10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 None,
 'michael jackson',
 'oo:42:19',
 'pop, rock, R&B',
 'thriller'}

## Set Operations

In [6]:
#Sample set for performing operations
A=set(["thriller","back in black","AC/DC"])
A

{'AC/DC', 'back in black', 'thriller'}

**Indexing doesn't work for sets:**

In [7]:
A[0] #doesnt give us "thriller"

TypeError: 'set' object is not subscriptable

In [8]:
A['back in '] #doesn't return 1 in here

TypeError: 'set' object is not subscriptable

We can add an element to a set using the **add()** method:

In [9]:
A.add("NSYNC")
A

{'AC/DC', 'NSYNC', 'back in black', 'thriller'}

If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [10]:
A.add("NSYNC")
A

{'AC/DC', 'NSYNC', 'back in black', 'thriller'}

We can remove an item from a set using the **remove()** method:

In [11]:
A.remove("NSYNC")
A

{'AC/DC', 'back in black', 'thriller'}

We can verify if an element is in the set using the **in** command:

In [12]:
"AC/DC" in A

True

In [13]:
"NSYNC" in A

False

## Sets Logic Operations
Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

In [14]:
# Sample Set
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [15]:
#Print two sets
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

You can find the intersect of two sets as follow using **&** :

In [16]:
album_set1&album_set2

{'AC/DC', 'Back in Black'}

You can also find the intersect of two sets as follow using **interesect()** :

In [17]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [18]:
album_set2.intersection(album_set1) #gives same as above

{'AC/DC', 'Back in Black'}

We can find union of two sets using **|** operator:

In [19]:
album_set1 | album_set2

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [20]:
album_set2 | album_set1 #same as above

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

We can also find the union of two function using **union()** function:

In [21]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [22]:
album_set2.union(album_set1) #same as above

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

We can find the difference between two sets, the **difference()** method:

In [23]:
album_set1.difference(album_set2) #gives the element which are in album_set1 but not in album_set2

{'Thriller'}

In [24]:
album_set2.difference(album_set1) #gives the element which are in album_set2 but not in album_set1

{'The Dark Side of the Moon'}

We can also use **-** operator for finding the difference:

In [25]:
album_set1-album_set2 #gives the element which are in album_set1 but not in album_set2

{'Thriller'}

In [26]:
album_set2-album_set1 #gives the element which are in album_set2 but not in album_set1

{'The Dark Side of the Moon'}

We can symmetric difference between two sets using **(A-B)|(B-A)** :

In [27]:
(album_set1-album_set2)|(album_set2-album_set1) #gives element which are only in either album_set1 or album_set2

{'The Dark Side of the Moon', 'Thriller'}

And you can check if a set is a superset or subset of another set, respectively, like this:

In [28]:
#Check if superset
set(album_set1).issuperset(album_set2)

False

In [29]:
#Check if subset
set(album_set2).issubset(album_set1)

False

Here is an example where **issubset()** and **issuperset()** return true:

In [30]:
#Check if subset
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [31]:
 #Check if superset
album_set1.issuperset({"Back in Black", "AC/DC"})

True

The End