# Tuples 
In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists which are mutable. In Python, there are different data types: string, integer, and float. These data types can all be contained in a tuple as follows:

In [1]:
#Create your first tuple
tuple1=("disco", 10, 1.2)
tuple1

('disco', 10, 1.2)

In [2]:
#checking the type
type(tuple1)

tuple

### Indexing
Each element of a tuple can be accessed via an index. Each element can be obtained by the name of the
tuple followed by a square bracket with the index number:

In [3]:
#Printing variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

We can print out the **type** of each value in the tuple:

In [4]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

We can also use negative indexing for tuple.

In [5]:
#using negative index for the last element
tuple1[-1]

1.2

In [6]:
tuple1[-2]

10

In [7]:
tuple1[-3]

'disco'

### Concatenate Tuples
We can concatenate or combine tuples by using the + sign:

In [8]:
#Concatenate two tuples
tuple2=tuple1+("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

### Slicing
We can slice tuples, obtaining new tuples with the corresponding elements:

In [9]:
#Slice from index 0 to index 2
tuple2[0:3]

('disco', 10, 1.2)

In [10]:
 #Slice from index 3 to index 4
tuple2[3:5]

('hard rock', 10)

We can obtain the length of a tuple using the **len()** command:

In [11]:
len(tuple2)

5

### Sorting

In [12]:
#Sample Tuple
ratings=(0,9,6,5,10,8,9,6,2)

We can sort the values in a tuple using **sorted()** and save it to a new tuple:

In [13]:
ratingssorted=sorted(ratings)
ratingssorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

### Nested Tuple
A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:

In [14]:
#Creating a new tuple
nestedT=(1,2,("pop","rock"),(3,4),("disco",(1,2)))
nestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [15]:
#Printing element on each index
print("Element 0 of Tuple:", nestedT[0])
print("Element 1 of Tuple:", nestedT[1])
print("Element 2 of Tuple:", nestedT[2])
print("Element 3 of Tuple:", nestedT[3])
print("Element 4 of Tuple:", nestedT[4])

Element 0 of Tuple: 1
Element 1 of Tuple: 2
Element 2 of Tuple: ('pop', 'rock')
Element 3 of Tuple: (3, 4)
Element 4 of Tuple: ('disco', (1, 2))

In [16]:
#Printing element on each index, including nested indexes
print("element 2,0 of tuple:", nestedT[2][0])
print("element 2,1 of tuple:", nestedT[2][1])
print("element 3,0 of tuple:", nestedT[3][0])
print("element 3,1 of tuple:", nestedT[3][1])
print("element 4,0 of tuple:", nestedT[4][0])
print("element 4,1 of tuple:", nestedT[4][1])

element 2,0 of tuple: pop
element 2,1 of tuple: rock
element 3,0 of tuple: 3
element 3,1 of tuple: 4
element 4,0 of tuple: disco
element 4,1 of tuple: (1, 2)

In [17]:
 #Print the first element in the second nested tuples
nestedT[2][1][0]

'r'

In [18]:
#Print the second element in the second nested tuples
nestedT[2][1][1]

'o'

In [19]:
#Print the first element in the second nested tuples
nestedT[4][0][1]

'i'

In [20]:
#Print the second element in the second nested tuples
nestedT[4][1][1]

2

The End